body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: lightgray;
}

.navbar {
  background-color: #282c34;
  padding: 16px;
}

.navbar a {
  color: antiquewhite;
  margin-right: 16px;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.content {
  padding: 20px
}